@charset "utf-8";
/* CSS Document */
        #header{
            background-color:rgba(0,0,0,0.70);
			color:rgba(255,253,253,1.00);
            height: 10%;
            line-height:80px;
            text-align:center;
            font-size: 40px;
        }
        #sidebar_left{
            background-color:rgba(170,166,166,0.5);
            width:25%;
            height:80%;
            text-align:center;
            line-height:400px;
            float:left;
            font-size: 40px;
        }
        #sidebar_right{
            background-color:rgba(170,166,166,0.5);
            width:25%;
            height:80%;
            text-align:center;
            line-height:400px;
            float:right;
            font-size: 40px;
        }
        #content{
			margin-top:0%;
            margin-left:25%;
            margin-right:25%;
            height:80%;
			background-color:rgba(0,0,0,0.00);
            text-align:center;
            font-size: 40px;
			
        }
        #footer{
            clear:both;
            background-color:rgba(55,53,53,0.7);
            height:10%;
            text-align:center;
            line-height:80px;
            font-size: 40px;
        }
		#road{height:80%;
			align-content:center;
		margin-bottom:10%;
		margin-top:10%;}
        #hello{
			   height:20%;}
